<template>
  <div class="cart" id="cart">
    <h2>{{ title }} 
      <span v-if="(totalItens > 1)">({{ totalItens + ' itens' }})</span>
      <span v-else-if="(totalItens == 1)">({{ totalItens + ' item' }})</span>
    </h2>

    <div class="close" @click="openCart">x</div>

    <div v-if="total">
      <div class="product" v-for="product in products">
        <div class="img-container">
          <img :src="'https://raw.githubusercontent.com/ConsultaRemedios/frontend-challenge/master/assets/'+product.image">
        </div>
        <div class="info">
          <p>{{ product.name }}</p>
          <p><strong>{{ product.price | money }} X {{ product.quantity }}</strong></p>
        </div>
        <button class="delete" :id="product.id" @click="deleteFromCart">x</button>
      </div>

      <p v-if="subTotal" class="resultados">
        <span>Subtotal</span>
        <span>{{ subTotal | money }}</span>
      </p> 

      <p v-if="subTotal" class="resultados">
        <span>Frete</span>
        <span>{{ frete | money }}</span>
      </p>
      
      <p v-if="total" class="resultados total">
        <span>Total</span>
        <span>{{total | money }}</span>
      </p>

      <button>finalizar compra</button>
    </div>
    
    <div v-else class="vazio">
      <img src="../../../assets/cart-icon.svg" alt="">
      <p>Até o momento, o seu carrinho está vazio</p>
    </div>

  </div>
</template>

<script>
  export default {
    name: 'Cart',
    props: {
      title: String
    },
    computed: {
      products(){
        return this.$store.state.products
      },
      totalItens(){
        return this.products.length
      },
      subTotal(){
        var sum = this.products.map(p => p.price * p.quantity);
        if(sum.length > 0){
          return sum = sum.reduce((total, current) => total + current)
        }else{
          return ''
        }
      },
      frete(){
        if(this.subTotal > 250){
          return 0
        }else{
          var sum = this.products.map(p => p.quantity * 10);
          if(sum.length > 0){
            return sum = sum.reduce((total, current) => total + current)
          }else{
            return ''
          }
        }
      },
      total(){
        return this.subTotal + this.frete     
      }
    },
    methods: {
      openCart : function(){
        document.getElementById('cart').classList.toggle("active")
      },
      deleteFromCart : function(e){
        this.$store.state.products.splice(
          this.$store.state.products.findIndex(obj => obj.id == e.target.id)
          , 1
        )
      }
    }
  }
</script>

<style scoped lang="scss">
  .cart{
    display: inline-block;
    width: 262px;
    padding: 23px;
    min-height: 300px;
    margin-top: 14px;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    position: relative;
    transition: all .5s;

    .close{
      width: 30px;
      height: 30px;
      border-radius: 15px;
      text-align: center;
      color: #FFF;
      font-size: 18px;
      background: #8facce;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      display: none;
    }

    .vazio{
      text-align: center;
      transition: all .3s;
      
      img{
        width: 90px;
        height: auto;
        margin: 0 auto;
        margin-top: 23px;
        margin-bottom: 18px;
      }

      p{
        font-size: 14px;
        color: #746A6A;
        text-align: center;
      }
    }

    h2{
      font-size: 18px;
      margin-bottom: 22px;

      span{
        font-size: 14px;
        font-weight: 400;
        color: #7F7575;
      }
    }

    .product{
      position: relative;
      width: 100%;
      height: 53px;
      padding-right: 10px;
      margin-bottom: 19px;
      transition: all .3s;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
      align-content: stretch;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;

      .img-container{
        width: 60px;
        height: 100%;
        background: #EEEEEE;
        padding: 6px 0;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;

        img{
          height: 100%;
        }
      }

      .info{
        width: calc(100% - 70px);

        p{
          color: #7F7575;
          font-size: 14px;
        }
      }

      button{
        position: absolute;
        right: 0;
        bottom: calc(50% - 8px);
        width: 16px;
        height: 16px;
        line-height: 15px;
        border-radius: 8px;
        font-size: 10px;
        font-weight: bold;
        border: none;
        text-align: center;
        background: #3486E6;
        color: #FFF;
        cursor: pointer;
        opacity: 0;
        transition: all .2s;
      }

      &:hover{
        button{
          opacity: 1;
        }
      }
    }

    .resultados {
      padding-top: 18px;
      font-size: 14px;
      font-weight: 400;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
      align-content: stretch;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;

      span{
        color: #7F7575;
        
        &:last-child{
          font-weight: 700;
          font-size: 16px;
          color: #423B3B;
        }
      }
      
      &.total span:last-child{
        font-size: 20px;
      }
    }

    button{
      border: none;
      height: 50px;
      background: #54A3FF;
      border-radius: 3px;
      color: #FFF;
      width: 100%;
      text-align: center;
      margin-top: 22px;
      cursor: pointer;
    }
  }
  @media screen and (max-width: 768px) {
    .cart{
      z-index: 10;
      overflow: auto;
      bottom: -900px;
      max-height: 100%;
      width: 100%;
      position: fixed;
      background: #FFF;
      opacity: 0;
      padding-bottom: 100px;

      &.active{
        bottom: 0px;
        opacity: 1;
      }     

      button.delete{
        position: absolute;
        opacity: 1;
        right: 0;
        left: unset;
      }

      .close{
        display: block;
      }

      button{
        position: fixed;
        z-index: 10;
        bottom: 0;
        left: 0;
      }
    }
  }
</style>
