<template>
  <div class="listing container">
    <div class="head">
      <h1>{{ title }}</h1>

      <select v-model="orderby">
        <option value="score" selected="selected">Mais populares</option>
        <option value="price">Menor Valor</option>
        <option value="name">A-Z</option>
      </select>

      <div class="cart-quantity" @click="openCart"><span>{{ totalItens }}</span></div>

    </div>
    <div class="products">
      <product v-for="prod in list" v-bind:product="prod"></product>
    </div>
  </div>
</template>

<script>
  import Product from '@/components/listing/Product.vue'
  import axios from 'axios'

  var _ = require('lodash');
  

  export default {
    name: 'Listing',
    data : function() {
      return {
        prod: {},
        products: {},
        orderby: 'score'
      }
    },
    props: {
      title: String
    },
    methods: {
      openCart: function(){
        document.getElementById('cart').classList.toggle("active")
      }
    },
    components: {
      Product
    },
    mounted() {
      axios.get('https://raw.githubusercontent.com/ConsultaRemedios/frontend-challenge/master/products.json')
        .then(
          res => {
            this.products = res.data;
          }
        );
    },
    computed: {
      list() {
        return _.orderBy(this.products, this.orderby); 
      },
      totalItens(){
        return this.$store.state.products.length
      }
    }
  }
</script>

<style scoped lang="scss">
  .head{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    h1{
      font-size: 48px;
      font-weight: 600;
    }

    select{
      width: 262px;
      height: 40px;
      background: #FFFFFF;
      border: 1px solid #E1E1E1;
      border-radius: 4px;
      font-size: 14px;
      padding: 0 18px;
      -moz-appearance:none; /* Firefox */
      -webkit-appearance:none; /* Safari and Chrome */
      appearance:none;
      background: url('../../assets/arrow-down-icon.svg') no-repeat calc(100% - 18px) center;
    }

    .cart-quantity{
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      background: #FFF url('../../assets/cart-icon.svg') no-repeat center center;
      background-size: contain;
      position: fixed;
      top: 10px;
      right: 10px;
      z-index: 9;
      cursor: pointer;
      display: none;

      span{
        display: block;
        width: 15px;
        height: 15px;
        background: #54A3FF;
        border-radius: 8px;
        font-size: 10px;
        text-align: center;
        color: #FFF;
      }
    }
  }
  
  .listing{
    width: calc(100% - 262px);
    padding: 0 30px;
  }
  .products{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-content: stretch;
    align-items: flex-start;
  }
  @media screen and (max-width: 768px) {
    .head{
      h1, select{
        width: 100%;
      }

      h1{
        margin: 30px auto;
      }

      .cart-quantity{
        display: block;
      }
    }
    .listing{
      width: 100%;
    }
  }
</style>
