<template>
  <div class="product">
    <div class="img-container">
      <img :src="'https://raw.githubusercontent.com/ConsultaRemedios/frontend-challenge/master/assets/'+product.image" :alt="product.name">
    </div>
    <h2>{{ product.name }}</h2>
    <p class="price">{{ product.price | money }}</p>
    <button v-on:click="addToCarT()">Adicionar ao carrinho</button>
  </div>
</template>

<script>
  export default {
    name: 'Product',
    props: {
      title: String,
      product: Object
    },
    methods: {
      addToCarT(){
        const productCart = {
          id: this.product.id,
          name: this.product.name,
          image: this.product.image,
          price: this.product.price,
          quantity: 1
        }
        
        document.getElementById('cart').classList.toggle("active")
        
        if(this.$store.state.products.find(obj => obj.id === productCart.id)){
          this.$store.state.products[this.$store.state.products.findIndex(obj => obj.id === productCart.id)]['quantity'] += 1
        }else{
          return this.$store.state.products.push(productCart)
        }
        
      }
    }
  }
</script>

<style scoped lang="scss">
  .product{
    display: block;
    text-align: center;
    position: relative;
    margin: 24px 15px;

    .img-container{
      background: #EEEEEE;
      border-radius: 3px;
      width: 262px;
      height: 230px;
      padding: 25px 0;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
      align-content: stretch;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;

      img{
        height: 100%;
      }
    }
    
    h2{
      font-weight: 400;
      font-size: 16px;
      text-align: center;
    }

    p{
      text-align: center;
      font-weight: 700;
      font-size: 16px;
      color: #3486E6;
    }

    button{
      position: absolute;
      left: 0;
      bottom: 0;
      cursor: pointer;
      width:100%;
      line-height: 45px;
      background: #FFF;
      border:none;
      text-align: center;
      font-weight: 700;
      font-size: 16px;
      color: #3486E6;
      opacity: 0;
    }

    &:hover{

      button{
        opacity: 1;
      }
    }
  }

  @media screen and (max-width: 980px) {
    .product, .product .img-container{
      width: 170px;
    }
    .product .img-container img{
      width: 100%;
      height: auto;
    }
    .product button{
      font-size: 12px;
      opacity: 1;
      position: relative;
      background: #54A3FF;
      color: #FFF;
      border-radius: 4px;
      margin-top: 10px;
    }
  }
  @media screen and (max-width: 768px) {
    .product{
      width: 100%;
      margin-bottom: 50px;

      .img-container{
        height: 100%;
        width: 100%;

        img{
          width: auto;
          height: 100%;
        }
      }
    } 
  }
</style>
