<template>
  <div class="home">
    <Listing title="Games"/>
    <Cart title="Carrinho"/>
  </div>
</template>

<script>
  import Listing from '@/components/listing/Listing.vue'
  import Cart from '@/components/listing/cart/Cart.vue'

  export default {
    name: 'Home',
    components: {
      Listing,
      Cart
    }
  }
</script>

<style lang="scss">
.home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
}
</style>
