<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="scss">
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
* {
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body, *{
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    color: #363636;
}
.container{
  width: 95%;
  max-width: 1280px;
}
</style>
